<%= render partial: './shared/header' %>

<h2>Register New User</h2>

<%= form_with url: register_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.text_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit "Register" %>
  </div>
<% end %>